<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Budget Tracker</title>
        <link href="images/pikachu.png" rel="icon" type="image/png">
        <link href="stylesheets/index.css" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="js/populateBudget.js"></script>
    </head>
    <body>
        <h1>Welcome to your Budget Tracker</h1>
        <section>
        <div>
            <h2>Budget for the Month</h2>
            <table class="container">
                <caption>List of Expenses</caption>
                <thead>
                    <tr>
                        <th>Categories</th>
                        <th>Priority</th>
                        <th>Amount for the Month</th>
                        <th>Saved for This Month</th>
                        <th>Spent</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
               <tfoot>
               </tfoot>
                
            </table>
        </div>
        </section>
        <section>
            <button>Add Transaction</button>
            <button>View Wallets</button>
            <button>Show Influx</button>
            <button>Show Statistics</button>
        </section>
    </body>

</html>